<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description"  content="Soviet Linux, a source based Linux Distribution">
    <meta name="keywords" content="Linux, Soviet, source based, LFS">
    <meta name="author" content="Trevor Beckerson, https://github.com/tbeckerson">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{  page.title }}</title>  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="assets/star-favicon.svg">
    <link rel="stylesheet" href="assets/tachyons.min.css">
    <link rel="stylesheet" href="assets/tachyons-custom.css">
  </head>
  <body class="bg-sov-red" style="">
       {{ content }}
  </body>
</html>
